@font-face {
    font-family: "mont";
    src: url(Montserrat-VariableFont_wght.ttf);
}
body {
    color: white;
    font-family: "mont";
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-height: 100vh;
}

form {
    background-color: rgb(0, 19, 185);
    padding: 72px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 3px;
}

textarea {
    height: 120px;
}

button {
    background-color: rgb(35, 149, 255);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(4, 0, 63);

}